.instructions>li {
    margin-top: 10px;
    margin-bottom:10px;
}

#public-key-error {
    font-style: italic;
    color: #e86666;
}

#public-key-info {
    color: #21a530;
}

h1 {
    text-align: center;
}
